{% load bootstrap_icons%}
<div class="text-center">
  <nav class="navbar navbar-expand-md bg-transparent">
    <a class="navbar-brand" href="/">SUE-GALLERY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon p-1">{%bs_icon 'list' %}</span>
    </button>


    <div class="collapse navbar-collapse style=2em" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-item" href="{% url 'gallery_disp' %}">Gallery</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Image Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {%if all_items%}
              {%for cat in all_items%}
              <a class="dropdown-item" href="#">{{cat.category_name}}</a>
              <div class="dropdown-divider"></div>
              {%endfor%}
            {%else%}
            <a href="{% url 'gallery_disp' %}">Open Gallery Page To view</a>
            {%endif%}
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Copied Links</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'images_today' %}">Images Today</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search_images'%}">
        <input class="form-control mr-sm-2" name = 'category_image' type="search" placeholder="Search Category" aria-label="Search Category">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
    <!--Login button-->
    <div class="col-md-6 col-sm-6">
      {%if user.is_authenticated%}
      <ul>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="{% url 'images_today'%}">Images Today</a>
            </li>
            <li>
              <a href="/accounts/password_change">Change Password</a>
            </li>
            <li>
              <a href="/accounts/profile">Profile</a>
            </li>
            <li>
              <a href="/accounts/logout">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
      {%else%}
      <li>
        <a href="/accounts/login" class="btn btn-default">Login</a>
      </li>
      {%endif%}
    </div>
  </nav>
</div>