{%extends 'base.html'%}
{%block content%}

<div class="card single_image">
  <div class="row">
    <div class="col-md-6">
      <img class="card-image" src="{{single_image.image_url.url}}" alt="Image View" width="100%" height="100%" >
    </div>
    <div class="col-md-5">
      <h3 class="card-header text-center">{{single_image.image_name}}</h3>
      <p class="card-text text-center">{{single_image.image_description}}</p>
      <div class="card-footer">
        <button class="btn-outline-success">{{single_image.category}}</button>
        <button class="btn-success align-right">{{single_image.location_taken}}</button>
      </div>
      <div class="card-link">
        <p class="bg-primary text-center width-4">{{single_image.date_taken}}</p>

        <!--copy link-->
        <form class="navbar-form" role="search" action="{% url 'single_image' single_image.id %}">
          <input type="text" class="hidden" name='link' value='{{single_image.image_url.url}}'>
          <button class="btn-light" type="submit">&sharp; Copy Link</button><p class="alert alert-info">{{message}}</p>
          </form>
        
      </div>
    </div>
  </div>
</div>
{%endblock%}